{{define "login"}}

{{template "header" .}}

<body>
    <div class="wrapper">
        <h2>Login</h2>
        <p>Please fill in your credentials to login.</p>

        {{if .login_err_bool}}
        <div class="alert alert-danger"> {{.login_err}} </div>
        {{end}}

        <form action="/" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control {{if .username_err_bool}}is-invalid{{end}}" value="{{if .username_filled}}{{.username}}{{end}}">
                <span class="invalid-feedback">{{.username_err}}</span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control {{if .password_err_bool}}is-invalid{{end}}">
                <span class="invalid-feedback">{{.password_err}}</span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
            <p>Don't have an account? <a href="/register">Sign up now</a>.</p>
        </form>
    </div>
</body>

</html>
{{end}}