{{define "transaction"}} {{template "header" .}}

<body>
    <!-- Nav Bar -->
    {{template "navigation" .}}

    <div class="wrapper">
        <h1>{{.category.Name}}</h1>
        <p>{{.transactionData.Note}}</p>
        <p>{{.transactionData.Date.Format "02-01-2006 15:04"}}</p>
        <p>${{.transactionData.Amount}}</p>
        <img src="{{.transactionData.ImgURL}}" width="200" height="200"><br>
        
        <a href="/transaction/delete/{{.transactionData.ID}}">Delete transaction</a>
    </div>

</body>

</html>
{{end}}