{{define "transaction"}} {{template "header" .}}

<body>
    <!-- Nav Bar -->
    {{template "navigation" .}}

    <div class="container mt-5 bg-white">

        <div class="m-auto text-center">
            <h1>
                Category
                <small class="text-muted">({{.category.Name}} - {{.category.TransactionType}})</small>
            </h1>
        </div>

        <div class="row mt-4">

            <div class="col-4"></div>

            <div class="col-2">
                <strong>Date</strong>
            </div>
            <div class="col-auto">
                {{.transactionData.Date.Format "02-01-2006"}}
            </div>

            <div class="col-4"></div>
        </div>

        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="col-2">
                <strong>Notes</strong>
            </div>
            <div class="col-auto">
                {{.transactionData.Note}}
            </div>
            <div class="col-4"></div>
        </div>

        <div class=" row mt-2">
            <div class="col-4"></div>
            <div class="col-2">
                <strong>Amount</strong>
            </div>
            <div class="col-auto">
                ${{.transactionData.Amount}}
            </div>
            <div class="col-4"></div>
        </div>



        {{if .transactionData.ImgURL}}
        <div class=" row mt-4">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <strong>Transaction Image</strong>
            </div>
            <div class="col-4"></div>
        </div>

        <img src="{{.transactionData.ImgURL}}" alt="transaction-img" class="img-fluid mb-2"> {{end}}




    </div>
</body>

</html>
{{end}}